<ul class="nav flex-column border">
  <li class="nav-item">
    <a class="nav-link font-weight-bold" href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled font-weight-normal" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Product Development</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Add Customer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Add Order</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled font-weight-normal" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Material Planning</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Add Supplier</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;View/Edit Supplier Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Add New Part</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;View/Edit Part Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Send Purchase Order</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Move Part to Floor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Order Details Report</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Receive Purchase Order</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled font-weight-normal" href="#"><i class="fa fa-gear" aria-hidden="true"></i> Production</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Add New Worker</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Add Production Line</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Add Worker to Line</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Add Deliverable to Line</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;View Production Lines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Worker Efficiency Report</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="#">&emsp;Job Order Report</a>
  </li>
</ul>