{% extends 'base.html' %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<form class="form-group" method="post" action="/login/">
				{% csrf_token %}
				<h2>Sign in to Twin Peak</h2>
				<div class="form-group">
    				<input type="text" name="username" class="form-control" placeholder="Username">
    				<input type="password" name="password" class="form-control" placeholder="Password">
    				<button type="submit" name="button" class="btn btn-primary btn-sm btn-block">Log in</button>
  				</div>
			</form>
		</div>
	</div>
{% endblock %}