  <div class="row ">
    <div class="col-3">
		<ul class="nav nav-pills flex-column">
		  <li class="nav-item">
		    <a class="nav-link" href="#">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Product Development</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Material Planning</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Production</a>
		  </li>
		</ul>
    </div>
    <div class="col-9">
      
    </div>
  </div>