<ul class="nav flex-column border">
  <li class="nav-item">
    <a class="nav-link font-weight-bold" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled font-weight-normal" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Product Development</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/add_customer">&emsp;Add Customer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/add_order">&emsp;Add Order</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled font-weight-normal" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Material Planning</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/add_supplier">&emsp;Add Supplier</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/supplier_details">&emsp;View/Edit Supplier Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/add_part">&emsp;Add New Part</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/part_details">&emsp;View/Edit Part Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/purchase_order">&emsp;Send Purchase Order</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/move_part">&emsp;Move Part to Floor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/order_details_report">&emsp;Order Details Report</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/receive_purchase_order">&emsp;Receive Purchase Order</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled font-weight-normal" href="#"><i class="fa fa-gear" aria-hidden="true"></i> Production</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/add_worker">&emsp;Add New Worker</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/worker_details">&emsp;View/Edit Worker Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/add_production_line">&emsp;Add Production Line</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/add_worker_to_line">&emsp;Add Worker to Line</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/add_deliverable_to_line">&emsp;Add Deliverable to Line</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/view_production_lines">&emsp;View Production Lines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/worker_efficieny_report">&emsp;Worker Efficiency Report</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-light" href="/job_order_report">&emsp;Job Order Report</a>
  </li>
</ul>